<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buyer">
	<select id="listBuyer" resultType="BuyerVO">
	select buyer_id, buyer_name from buyer
	</select>
	
	<select id="selectBuyer" parameterType="string" resultType="BuyerVO">
	select * from buyer where buyer_id= #{buyer_id}
	</select>
	
</mapper>